@font-face {
  font-family: Samim;
  src: url("/src/assets/fonts/Samim.eot");
  src: url("/src/assets/fonts/Samim.eot?#iefix") format("embedded-opentype"),
    url("/src/assets/fonts/Samim.woff2") format("woff2"),
    url("/src/assets/fonts/Samim.woff") format("woff"),
    url("/src/assets/fonts/Samim.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Samim;
  src: url("/src/assets/fonts/Samim-Bold.eot");
  src: url("/src/assets/fonts/Samim-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/src/assets/fonts/Samim-Bold.woff2") format("woff2"),
    url("/src/assets/fonts/Samim-Bold.woff") format("woff"),
    url("/src/assets/fonts/Samim-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: Samim;
  src: url("/src/assets/fonts/Samim-Medium.eot");
  src: url("/src/assets/fonts/Samim-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("/src/assets/fonts/Samim-Medium.woff2") format("woff2"),
    url("/src/assets/fonts/Samim-Medium.woff") format("woff"),
    url("/src/assets/fonts/Samim-Medium.ttf") format("truetype");
  font-weight: 500;
}

body {
  font-family: "Samim";
}

.text-danger {
  color: #f61849 !important;
}

.bg-danger {
  background-color: #f61849 !important;
}

.btn-danger {
  background-color: #f61849 !important;
  border-color: #f61849 !important;
}

.border-danger {
  border-color: #f61849 !important;
}

.star-ratings,
.star-container {
  transform: rotate(180deg);
}

.top-content .carousel-control-prev {
  left: -110px;
  border-bottom: 0;
  font-size: 40px;
  color: #444;
}

.top-content .carousel-control-next {
  right: -110px;
  border-bottom: 0;
  font-size: 40px;
  color: #444;
}
